<div class='custom-input'>
  <label for='{{name}}' class='custom-input__label'>{{label}}</label>
  <input type='{{type}}' value="{{value}}" name='{{name}}' id='{{name}}' autocomplete='off' {{#if disabled}}disabled="true"{{/if}}/>
</div>