<a href='{{link}}' class='link-button link-button--{{type}}'>
  {{#if iconLeft}}
    <span class='link-button__icon'>
      <i class='{{iconLeft}}'></i>
    </span>
  {{/if}}
  <span class='link-button__label'>{{label}}</span>
  {{#if iconRight}}
    <span class='link-button__icon'>
      <i class='{{iconRight}}'></i>
    </span>
  {{/if}}
</a>
